
  <div>
    <% @ideas.each do |idea| %>

        <div >
          <h3> <%= link_to idea.title, idea %></h3>
          <p> <%= truncate idea.body, length:50 %></p>
         
        </div>

        <br>

        <% end %>
    </div>
